* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

.header {
  position: relative;
  margin-top: 50px;
}

.header__logo {
  display: block;
  padding-top: 8px;
  padding-left: 47px;
}

.header__nav {
  position: absolute;
  display: flex;
  top: 0;
  right: 5vw;
}

.header__nav__ul {
  display: flex;
  list-style: none;
}

.header__nav__ul__li {
  color: #252b46;
  font-size: 1.3rem;
  width: 135px;
  height: 50px;
  padding-top: 10px;
}

.header__nav__ul__li:hover {
  color: #fa5757;
  cursor: pointer;
}

.header__nav__ul__li.login {
  color: white;
  background-color: #fa5757;
  text-align: center;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  transition: all 0.2s ease-in-out;
}

.header__nav__ul__li.login:hover {
  background-color: white;
  border-color: #fa5757;
  color: #fa5757;
}

.intro {
  margin-top: 250px;
  padding-left: 50px;
  position: relative;
}

.intro__body {
  width: 35vw;
}

.intro__body__title {
  font-size: 2.5rem;
  font-weight: 500;
  width: 80%;
  color: #252b46;
}

.intro__body__paragraph {
  width: 80%;
  color: #9194a1;
  padding: 1em 0;
  font-size: 1.5rem;
}

.intro__wrapper {
  position: absolute;
  right: 0;
  top: -125px;
  display: block;
  z-index: 1;
  overflow: hidden;
}

.intro__wrapper__image {
  position: relative;
  top: -270px;
  max-width: 657px;
  width: 60vw;
}

.intro__wrapper::before {
  content: '';
  position: relative;
  display: block;
  top: 200px;
  right: -210px;
  width: 500px;
  height: 330px;
  z-index: 0;
  background-color: #5368df;
  border-bottom-left-radius: 120px;
}

.intro__buttons {
  display: flex;
}

.button {
  width: 170px;
  height: 46px;
  font-size: 1.1rem;
  padding-top: 10px;
  text-align: center;
  border-radius: 7px;
}

.intro__buttons__firefox {
  background-color: #5368df;
  color: white;
  margin-right: 1em;
  border-width: 2px;
  border-style: solid;
  transition: all 0.2s ease-in-out;
}

.intro__buttons__firefox:hover {
  background-color: white;
  color: #5368df;
  border-color: #5368df;
}

.intro__buttons__chrome {
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.intro__buttons__chrome:hover {
  border-color: #9194a1;
  color: #9194a1;
}

.slider {
  margin-top: 200px;
  overflow: hidden;
}

.slider__title {
  width: 50%;
  margin: 0 auto;
  padding: 1.1em 0;
  text-align: center;
  color: #252b46;
  font-size: 1.8rem;
  font-weight: 500;
}

.slider__paragraph {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: gray;
  font-size: 1.2rem;
}

.slider__nav {
  width: 60%;
  margin: 70px auto 0 auto;
  padding-bottom: 10px;
}

.slider__nav__ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.slider__nav__ul__li {
  width: 33.33333%;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #9194a1;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.slider__nav__ul__li:hover {
  color: #fa5757;
}

.slider__nav__ul__li.current {
  color: black;
  border-bottom: 3px #fa5757 solid;
}

.slider__tabs {
  position: relative;
  overflow-x: hidden;
  width: 300vw;
  height: 500px;
  transition: 0.2s transform ease-in;
}

.slider__tabs.stop-transition {
  transition: none !important;
}

.slider__tabs.second {
  transform: translateX(-100vw);
}

.slider__tabs.third {
  transform: translateX(-200vw);
}

.slider__tabs__tab {
  position: absolute;
  width: 100vw;
}

.slider__tabs__tab.first {
  left: 0;
}

.slider__tabs__tab.second {
  left: 100vw;
}

.slider__tabs__tab.third {
  left: 200vw;
}

.slider__tabs__tab__body {
  margin: 120px 0 0 58%;
}

.slider__tabs__tab__body__title {
  width: 80%;
  font-size: 2rem;
  font-weight: 500;
  color: #252b46;
}

.slider__tabs__tab__body__paragraph {
  padding-top: 30px;
  width: 75%;
  color: #9194a1;
}

.slider__tabs__tab__wrapper {
  width: 43vw;
  position: absolute;
  left: 5vw;
  top: 60px;
}

.slider__tabs__tab__wrapper::before {
  content: '';
  position: relative;
  display: block;
  top: 0;
  left: -5vw;
  width: 45vw;
  height: 30vw;
  z-index: -1;
  background-color: #5368df;
  border-bottom-right-radius: 160px;
}

.slider__tabs__tab__wrapper__img {
  top: calc(-30vw - 30px);
  position: relative;
  display: block;
  width: 100%;
  left: 65px;
}

.slider__tabs__tab__wrapper__img.second, .slider__tabs__tab__wrapper__img.third {
  width: 80%;
  left: 15vw;
  top: calc(-30vw - 45px);
}

.download {
  margin-top: 150px;
}

.download__title {
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: #252b46;
}

.download__paragraph {
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 1.2rem;
  text-align: center;
  color: #9194a1;
}

.download__browsers {
  width: 90%;
  margin: 60px auto 50px auto;
  display: flex;
  justify-content: center;
}

.download__browsers__browser {
  width: 30%;
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
}

.download__browsers__browser.firefox {
  position: relative;
  top: 20px;
  left: 0;
}

.download__browsers__browser.opera {
  position: relative;
  top: 40px;
  left: 0;
}

.download__browsers__browser__logo {
  padding: 90px 0 30px 0;
  display: block;
  margin: 0 auto;
}

.download__browsers__browser__title {
  padding-bottom: 16px;
  color: #252b46;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.download__browsers__browser__version {
  color: #9194a1;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 25px;
}

.download__browsers__browser__dots {
  width: 100%;
}

.download__browsers__browser__button {
  width: 80%;
  max-width: 250px;
  height: 46px;
  padding-top: 12px;
  margin: 25px auto;
  color: white;
  background-color: #5368df;
  text-align: center;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: #5368df;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.download__browsers__browser__button:hover {
  background-color: white;
  color: #5368df;
  cursor: pointer;
}

.FAQs {
  margin-top: 150px;
}

.FAQs__title {
  width: 60%;
  color: #252b46;
}

.FAQs__paragraph {
  width: 60%;
  color: #9194a1;
}

.FAQs__accordion-container {
  width: 62%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-button {
  color: #252b46;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-image-width: 0;
}

.accordion-button::after {
  background-image: url("../images/icon-arrow-active.svg");
}

.accordion-button:not(.collapsed) {
  background-color: white;
  color: #fa5757;
  appearance: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/icon-arrow.svg");
}

.FAQs__button {
  display: block;
  margin: 0 auto;
  background-color: #5368df;
  width: 135px;
}

.footer__contact {
  background-color: #5368df;
}

.footer__contact__members {
  color: white;
}

.footer__contact__up-to-date {
  max-width: 350px;
  width: 90%;
  margin: 0 auto;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
}

.footer__contact__form {
  margin: 0 auto;
}

.footer__contact__form .row {
  max-width: 370px;
  width: 95%;
  margin: 0 auto;
}

.footer__contact__form__input {
  position: relative;
  outline: none;
  border: 1px white solid;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 35px;
  font-size: 0.9rem;
  padding-left: 12px;
  padding-right: 40px;
  color: #252b46;
  background-image: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px);
}

.footer__contact__form__input::placeholder {
  font-size: 0.9rem;
  opacity: 0.7;
}

#contact-us {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  height: 35px;
  border-width: 2px;
  border-style: solid;
  background-color: #fa5757;
  transition: all 0.2s ease-in-out;
}

#contact-us:hover {
  color: #fa5757;
  background-color: white;
  border-color: #fa5757;
}

.footer__wrapper {
  background-color: #252b46;
  color: #f6f6f6;
}

.footer__wrapper__logo {
  padding-left: 20px;
}

.footer__wrapper__navitem {
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
}

.footer__wrapper__navitem:hover {
  color: #fa5757;
  cursor: pointer;
}

#twitter {
  cursor: pointer;
}

#twitter path:hover {
  fill: #fa5757;
}

#facebook {
  cursor: pointer;
  padding-top: 2px;
}

#facebook path:hover {
  fill: #fa5757;
}

form {
  position: relative;
}

form::after {
  content: "Whoops, make sure it's and email";
  visibility: hidden;
  position: absolute;
  top: 35px;
  background-color: #fa5757;
  color: white;
  font-size: 0.6rem;
  height: 20px;
  width: 100%;
  padding: 3px 3px 3px 7px;
}

form.show::after {
  visibility: visible;
}

@media (max-width: 768px) {
  .footer__wrapper__navitem {
    font-size: 0.8rem;
  }
  #facebook {
    display: block;
  }
  #twitter {
    display: block;
  }
}

.mobile-menu {
  background-color: #252b46;
  opacity: 0.9;
  height: 100vh;
  z-index: 10000;
  display: none;
}

.mobile-menu__logo {
  padding: 55px 0 0 45px;
}

.mobile-menu__close {
  top: 55px;
  right: 45px;
  cursor: pointer;
}

.mobile-menu__nav {
  color: white;
  width: 65%;
  top: 120px;
  left: 17.5%;
}

.mobile-menu__nav__ul {
  list-style: none;
  padding: 0;
}

.mobile-menu__nav__ul__li {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  border-top: 1pt white solid;
}

.mobile-menu__nav__ul__li.login {
  border: 3px solid white;
  border-radius: 7px;
}

.mobile-menu__social {
  position: fixed;
  bottom: 4vw;
  display: flex;
  justify-content: center;
  width: 30vw;
  left: 35vw;
}

.mobile-menu__social svg {
  display: block;
  margin: 0 1em;
}

.header__burgers {
  position: absolute;
  top: 11px;
  right: 5vw;
  height: 26px;
  cursor: pointer;
}

.header__burgers__burger {
  position: relative;
  height: 4px;
  width: 25px;
  top: 8px;
  background-color: #252b46;
}

.header__burgers__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  height: 4px;
  width: 25px;
  background-color: #252b46;
}

.header__burgers__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  height: 4px;
  width: 25px;
  background-color: #252b46;
}

@media (max-width: 992px) {
  .intro {
    margin-top: 60px;
    padding-left: 0;
    width: 100vw;
    overflow: hidden;
  }
  .intro__body {
    width: 100%;
  }
  .intro__body__title {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .intro__body__paragraph {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .intro__wrapper {
    width: 100vw;
    margin: 0 auto;
    position: static;
  }
  .intro__wrapper__image {
    display: block;
    width: 95vw;
    top: -37vw;
    max-width: 10000px;
    margin: 0 auto;
  }
  .intro__wrapper::before {
    width: 100vw;
    height: 48.55vw;
    top: 34vw;
    right: -28vw;
  }
  .intro__buttons {
    justify-content: center;
    width: 93%;
    margin: 0 auto;
  }
  .slider {
    margin-top: 50px;
  }
  .slider__title {
    width: 85%;
  }
  .slider__paragraph {
    width: 85%;
  }
  .slider__nav__ul {
    padding-left: 0;
    display: block;
    width: 85%;
    border-top: 1px gray solid;
  }
  .slider__nav__ul__li {
    width: 100%;
    padding: 1em 0;
  }
  .slider__tabs {
    height: 650px;
  }
  .slider__tabs__tab__body {
    margin-top: 84px;
    margin-left: 0;
  }
  .slider__tabs__tab__body__title {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
  }
  .slider__tabs__tab__body__paragraph {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
  }
  .slider__tabs__tab__wrapper {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 10px;
    width: 65%;
  }
  .slider__tabs__tab__wrapper::before {
    position: absolute;
    top: 14%;
    left: -26.5%;
    height: 100%;
    width: 92%;
  }
  .slider__tabs__tab__wrapper__img {
    top: 0;
    left: 0;
    width: 100%;
  }
  .slider__tabs__tab__wrapper__img.second, .slider__tabs__tab__wrapper__img.third {
    top: 0;
    left: 17vw;
  }
  .download {
    margin-top: 0;
  }
  .download__browsers {
    display: block;
  }
  .download__browsers__browser {
    position: static;
    width: 90%;
    padding-bottom: 5px;
    margin: 15px auto;
  }
  .download__browsers__browser.firefox, .download__browsers__browser.opera {
    position: static;
  }
  .FAQs {
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .slider__tabs {
    height: 570px;
  }
}

@media (max-width: 576px) {
  .header__logo {
    padding-left: 25px;
  }
  .slider__tabs {
    height: 500px;
  }
}
