.mobile-menu{
    background-color: $dark-blue;
    opacity: 0.9;
    height: 100vh;
    z-index: 10000;
    display: none;
    &__logo{
        padding: 55px 0 0 45px;
    }
    &__close{
        top:55px;
        right:45px;
        cursor: pointer;
    }
    &__nav{
        color:white;
        width: 65%;
        top: 120px;
        left:17.5%;
        &__ul{
            list-style: none;
            padding:0;
            &__li{
                text-align: center;
                font-size:1.4rem;
                font-weight: 400;
                border-top: 1pt white solid;
                &.login{
                    border:3px solid white;
                    border-radius: 7px;
                }
            }
        }
    }
    &__social{
        position: fixed;
        bottom:4vw;
        display: flex;
        justify-content: center;
        width: 30vw;
        left:35vw;
        & svg{
            display: block;
            margin:0 1em;
        }
    }
}
.header{
    &__burgers{
        position: absolute;
        top:11px;
        right: 5vw;
        height: 26px;
        cursor: pointer;
        &__burger{
            position:relative;
            height: 4px;
            width: 25px;
            top:8px;
            background-color: $dark-blue;
            &::before{
                content: '';
                position: absolute;
                top:-8px;
                left:0;
                height: 4px;
                width: 25px;
                background-color: $dark-blue;
            }
            &::after{
                content: '';
                position: absolute;
                top:8px;
                left:0;
                height: 4px;
                width: 25px;
                background-color: $dark-blue;
            }
        }
    }
}

@media (max-width:992px){
    .intro{
        margin-top: 60px;
        padding-left:0;
        width: 100vw;
        overflow: hidden;
        &__body{
            width: 100%;
            &__title{
                width: 90%;
                margin:0 auto;
                text-align: center;
            }
            &__paragraph{
                width: 90%;
                margin:0 auto;
                text-align: center;
            }
        }
        &__wrapper{
            width: 100vw;
            margin:0 auto;
            position: static;
            &__image{
                display: block;
                width: 95vw;
                top:-37vw;
                max-width: 10000px;
                margin:0 auto;
            }
            &::before{
                width:100vw;
                height: 48.55vw;
                top: 34vw;
                right: -28vw;
            }
        }
        &__buttons{
            justify-content: center;
            width: 93%;
            margin:0 auto
        }
    }
    .slider{
        margin-top:50px;
        &__title{
            width: 85%;
        }
        &__paragraph{
            width: 85%;
        }
        &__nav{
            &__ul{
                padding-left: 0;
                display: block;
                width: 85%;
                border-top: 1px gray solid;
                &__li{
                    width: 100%;
                    padding: 1em 0;
                }
            }
        }
        &__tabs{
            height: 650px;
            &__tab{
                &__body{
                    margin-top: 84px;
                    margin-left: 0;
                    &__title{
                        width: 90vw;
                        margin: 0 auto;
                        text-align: center;
                    }
                    &__paragraph{
                        width: 90vw;
                        margin:0 auto;
                        text-align: center;
                    }
                }
                &__wrapper{
                    position: relative;
                    top:0;
                    left:0;
                    margin: 0 auto;
                    padding-top:10px;
                    width:65%;
                    &::before{
                        position: absolute;
                        top:14%;
                        left:-26.5%;
                        height: 100%;
                        width: 92%;
                    }
                    &__img{
                        top:0;
                        left:0;
                        width: 100%;
                        &.second,&.third{
                            // left:28.5vw;
                            // width: 75%;
                            top:0;
                            left:17vw;
                        }
                    }
                }
            }
        }
    }
    .download{
        margin-top:0;
        &__browsers{
            display: block;
            &__browser{
                position: static;
                width: 90%;
                padding-bottom: 5px;
                margin: 15px auto;
                &.firefox,&.opera{
                    position: static;
                }
            }
        }
    }
    .FAQs{
        margin-top: 70px;
    }
}


@media (max-width:768px){
    .slider{
        &__tabs{
            height: 570px;
        }
    }
}

@media (max-width:576px){
    .slider{
        &__tabs{
            height: 500px;
        }
    }
}