@import 'config';
*{
    margin:0;
    padding:0;
    // box-sizing: content-box;
    font-family: 'Rubik', sans-serif;
}

body{
    overflow-x: hidden;
    width: 100vw;
}
.header{
    position: relative;
    margin-top: 50px;
    &__logo{
        display: block;
        padding-top: 8px;
        padding-left: 47px;
    }
    &__nav{
        position: absolute;
        display: flex;
        top:0;
        right:5vw;
        &__ul{
            display: flex;
            list-style: none;
            &__li{
                color:$dark-blue;
                font-size: 1.3rem;
                width: 135px;
                height: 50px;
                padding-top: 10px;
                &:hover{
                    color:$red;
                    cursor: pointer;
                }
                &.login{
                    color:white;
                    background-color: $red;
                    text-align: center;
                    border-radius: 7px;
                    border-width: 2px;
                    border-style: solid;
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        background-color: white;
                        border-color: $red;
                        color:$red;
                    }
                }
            }
        }
    }
}

.intro{
    margin-top:250px;
    padding-left:50px;
    position: relative;
    &__body{
        width: 35vw;
        &__title{
            font-size: 2.5rem;
            font-weight: 500;
            width: 80%;
            color:$dark-blue;
        }
        &__paragraph{
            width: 80%;
            color:$gray;
            padding:1em 0;
            font-size:1.5rem;
        }
    }
    &__wrapper{
        position: absolute;
        right: 0;
        top:-125px;
        display: block;
        z-index: 1;
        overflow: hidden;
        &__image{
            position: relative;
            top:-270px;
            max-width: 657px;
            width: 60vw;
        }
        &::before{
            content: '';
            position: relative;
            display: block;
            top:200px;
            right:-210px;
            width: 500px;
            height: 330px;
            z-index: 0;
            background-color: $blue;
            border-bottom-left-radius: 120px;
        }
    }
    &__buttons{
        @at-root .button{
            width: 170px;
            height: 46px;
            font-size: 1.1rem;
            padding-top:10px;
            text-align: center;
            border-radius: 7px;
        }
        display: flex;
        &__firefox{
            background-color: $blue;
            color: white;
            margin-right: 1em;
            border-width: 2px;
            border-style: solid;
            transition: all 0.2s ease-in-out;
            &:hover{
                background-color: white;
                color:$blue;
                border-color:$blue;
            }
        }
        &__chrome{
            border-width: 2px;
            border-style: solid;
            box-shadow:  0px 0px 5px 2px rgba(0,0,0,0.1);
            transition: all 0.2s ease-in-out;
            &:hover{
                border-color:$gray;
                color:$gray;
            }
        }
    }
}

.slider{
    margin-top:200px;
    overflow: hidden;
    &__title{
        width: 50%;
        margin:0 auto;
        padding:1.1em 0;
        text-align: center;
        color:$dark-blue;
        font-size: 1.8rem;
        font-weight: 500;
    }
    &__paragraph{
        width: 50%;
        margin:0 auto;
        text-align: center;
        color:gray;
        font-size: 1.2rem;
    }
    &__nav{
        width: 60%;
        margin:70px auto 0 auto;
        padding-bottom: 10px;
        &__ul{
            list-style-type: none;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            &__li{
                width: 33.33333%;
                padding-bottom: 20px;
                text-align: center;
                font-size: 1.2rem;
                color:$gray;
                cursor: pointer;
                border-bottom: 1px solid gray;
                &:hover{
                    color:$red
                }
                &.current{
                    color:black;
                    border-bottom: 3px $red solid;
                }
            }
        }
    }
    &__tabs{
        position: relative;
        overflow: hidden;
        width: 300vw;
        height: 500px;
        transition:0.2s transform ease-in;
        &.stop-transition{
            transition: none !important;
        }        
        &.second{
            transform:translateX(-100vw);
        }
        &.third{
            transform:translateX(-200vw);
        }
        &__tab{
            position: absolute;
            width: 100vw;
            &.first{
                left:0;
            }
            &.second{
                left:100vw;
            }
            &.third{
                left:200vw
            }
            &__body{
                margin:120px 0 0 58%;
                &__title{
                    width: 80%;
                    font-size: 2rem;
                    font-weight: 500;
                    color:$dark-blue;
                }
                &__paragraph{
                    padding-top:30px;
                    width: 75%;
                    color:$gray;
                }
            }
            &__wrapper{
                width: 43vw;
                position: absolute;
                left:5vw;
                top:60px;
                &::before{
                    content: '';
                    position: relative;
                    display: block;
                    top:0;
                    left:-5vw;
                    width: 45vw;
                    height: 30vw;
                    z-index: -1;
                    background-color: $blue;
                    border-bottom-right-radius: 160px;
                }
                &__img{
                    top:calc(-30vw - 30px);
                    position: relative;
                    display: block;
                    width: 100%;
                    left:65px;
                    &.second,&.third{
                        width: 80%;
                        left:15vw;
                        top:calc(-30vw - 45px);
                    }
                }
            }
        }
    }
}

.download{
    margin-top: 150px;
    &__title{
        width: 60%;
        margin:0 auto;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        color:$dark-blue;
    }
    &__paragraph{
        width: 60%;
        margin: 0 auto;
        padding-top: 40px;
        font-size: 1.2rem;
        text-align: center;
        color: $gray;
    }
    &__browsers{
        width: 90%;
        margin:60px auto 50px auto;
        display: flex;
        justify-content: center;
        &__browser{
            width: 30%;
            max-width: 350px;
            margin:0 auto;
            box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
            border-radius: 13px;
            &.firefox{
                position: relative;
                top:20px;
                left: 0;
            }
            &.opera{
                position: relative;
                top:40px;
                left: 0;
            }
            &__logo{
                padding: 90px 0 30px 0;
                display: block;
                margin: 0 auto;
            }
            &__title{
                padding-bottom: 16px;
                color:$dark-blue;
                font-size: 1.4rem;
                font-weight: 500;
                text-align: center;
            }
            &__version{
                color:$gray;
                font-size: 1.1rem;
                text-align: center;
                margin-bottom: 25px;
            }
            &__dots{
                width: 100%;
            }
            &__button{
                width: 80%;
                max-width: 250px;
                height: 46px;
                padding-top: 12px;
                margin:25px auto;
                color: white;
                background-color: $blue;
                text-align: center;
                border-radius: 7px;
                border-width: 2px;
                border-style: solid;
                border-color:$blue;
                box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2);
                transition: all 0.2s ease-in-out;
                &:hover{
                    background-color: white;
                    color:$blue;
                    cursor: pointer;
                }
            }
        }
    }
}

.FAQs{
    margin-top:150px;
    &__title{
        width: 60%;
        color:$dark-blue;
    }
    &__paragraph{
        width: 60%;
        color:$gray
    }
    &__accordion-container{
        width: 62%;
        border-bottom: 1px solid rgba(0,0,0,0.125);
        @at-root .accordion-button{
            color:$dark-blue;
            border-top-width: 1px;
            border-bottom-width: 1px;
            &::after{
                background-image: url("../images/icon-arrow-active.svg");
            }
            border-image-width:0
        }
        @at-root .accordion-button:not(.collapsed){
            background-color: white;
            color:$red;
            &::after{
                background-image: url("../images/icon-arrow.svg");
            }
            appearance: none;
        }
    }
    &__button{
        display: block;
        margin:0 auto;
        background-color: $blue;
        width: 135px;
    }
}

.footer{
    &__contact{
        background-color: $blue;
        &__members{
            color:white;
        }
        &__up-to-date{
            max-width: 350px;
            width: 90%;
            margin:0 auto;
            color:white;
            font-size: 1.6rem;
            font-weight: 500;
        }
        &__form{
            margin:0 auto;
            & .row{
                max-width: 370px;
                width: 95%;
                margin:0 auto;
            }
            &__input{
                position: relative;
                outline: none;
                border: 1px white solid;
                border-radius: 5px;
                display: block;
                width: 100%;
                height: 35px;
                font-size:0.9rem;
                padding-left: 12px;
                padding-right: 40px;
                color:$dark-blue;
                background-image:none;
                background-repeat: no-repeat;
                background-position: calc(100% - 10px);
                &::placeholder{
                    font-size:0.9rem;
                    opacity: 0.7;
                }
            }
            @at-root #contact-us{
                display: block;
                width: 100%;
                font-size: 0.8rem;
                height: 35px;
                border-width: 2px;
                border-style: solid;
                background-color: $red;
                transition: all 0.2s ease-in-out;
                &:hover{
                    color:$red;
                    background-color: white;
                    border-color: $red;
                }
            }
        }
    }
    &__wrapper{
        background-color: $dark-blue;
        color:#f6f6f6;
        &__logo{
            padding-left: 20px;
        }
        &__navitem{
            font-size: 0.7rem;
            font-weight: 400;
            text-align: center;
            &:hover{
                color:$red;
                cursor: pointer;
            }
        }
    }
}

#twitter{
    cursor: pointer;
    & path:hover{
        fill: $red;
    }
}

#facebook{
    cursor: pointer;
    padding-top: 2px;
    & path:hover{
        fill:$red;
    }
}

form{
    position: relative;
    &::after{
        content: "Whoops, make sure it's and email";
        visibility: hidden;
        position: absolute;
        top:35px;
        background-color: $red;
        color:white;
        font-size: 0.6rem;
        height: 20px;
        width: 100%;
        padding: 3px 3px 3px 7px;
    }
    &.show::after{
        visibility: visible;
    }
}
@media (max-width: 768px) {
    .footer__wrapper__navitem{
        font-size: 0.8rem;
    }
    #facebook{
        display: block;
    }
    #twitter{
        display: block;
    }
}

@import 'mobile';